/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
  background-color: #d3b0f5;
  padding: 100px;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;

}

#mainTitle {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  color: pink;

}

#instructions{
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: pink;
}

#haiku {
text-align: center;
color:#7ea889;
font-family: Helvetica, sans-serif;
font-size: 40px;
font-weight: bold;
background-color:white;
height:auto;
margin-top: 50px;
padding: 20px;
min-height: 70vh;
border-radius: 20px;
}

#haiku p{

  margin-top: 20px;

}


#title {
  color: #573d70;
  font-size: 50px;
}

.character {
  display: inline-block;
  position: relative;
}
