/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
  background-color: #abcbab;
  padding: 0;
  margin: 0;

}

h4 {
  font-family: Helvetica, sans-serif;
  font-size: 60px;
  color: pink;

}

#haiku {

  justify-content: center;
  align-items: center;
color:red;
font-family: Helvetica, sans-serif;
font-size: 40px;
font-weight: bold;
background-color:white;
height:auto;
margin-left: 200px;
margin-right: 200px;
margin-top: 50px;
padding: 20px;
min-height: 70vh;
border-radius: 20px;
}


#title {
  color: black;
  font-size: 50px;
}
