/*********************************************
CSS style sheet

**********************************************/
body {
  background-color: #eb7a85;
  font-family: helvetica, serif;

}

h2{
  color: #515ab0;
  text-align: center;
}

#everything{
  border-radius: 25px;
  background-color: #f5cecb;
  margin:auto;
  width: 50vw;
  min-height: 80vh;

}

#poem {
  padding: 50px;
  font-size: 2rem;
  line-height: 40px;
}

#answer {
  padding: 20px;
  margin:auto;
  padding: 1em;
  width: 20rem;
  height: 3rem;
  border: 2px dashed black;
}

.answer-letter{
  margin: auto;
  border-radius: 25%;
  font-size: 1em;
  padding: 1em;
  background-color: pink;
}

#instructions{

  background-color: pink;
}

.found {
  /* dark pink */
  color: #ba3256;
  cursor: pointer;

}
