/*********************************************
CSS style sheet

**********************************************/
body {
  background-color: #eb7a85;
  font-family: helvetica, serif;
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */

}

h2{
  color: #515ab0;
  text-align: center;
}

#everything{
  border-radius: 25px;
  background-color: #f5cecb;
  margin:auto;
  width: 50vw;
  height: 80vh;

}

#poem {
  padding: 50px;
  font-size: 2rem;
  line-height: 40px;
}

#answer {
  text-align: center;
  background-color: #8697eb;
  padding: 20px;
  margin:auto;
  padding: 2em;
  width: 30vw;
  height: 5rem;
  border: 2px dashed black;
}

.answer-letter{
  margin: auto;
  border-radius: 25%;
  font-size: 1em;
  padding: 1em;
  margin: 5px;
  background-color: pink;
}

#instructions{

  background-color: #ebd686;
}

#solved-dialog{
  background-color: #ebd686;
}

.found {
  color: #ba3256;
  cursor: pointer;

}
