/*********************************************


**********************************************/
body {
  background-color: white;
  font-family: helvetica, serif;

}

#everything{
  background-color: #f5cecb;
  margin:auto;
  width: 80vw;

}

#poem {
  padding: 30px;
  font-size: 1.2rem;
  line-height: 30px;
}

#answer {
  margin:auto;
  padding: 1em;
  width: 10rem;
  height: 3rem;
  border: 1px dashed black;
}

.answer-letter{
  margin: auto;
  border-radius: 25%;
  font-size: 1em;
  padding: 1em;
  background-color: pink;
}

#instructions{

  background-color: pink;
}

.found {
  color: red;
}
